@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    font-size: 12pt;
}
:root {
    --main-width: 900px;
    --nav-height: 64px;
    --transY: -100px;
    --bg-color: rgb(10, 20, 110);
    --nav-bg-color: rgba(10, 20, 110, 0.342);
    --btn-color: rgb(0, 113, 235);
    --btn-color-hover: rgb(38, 151, 255);
    --btn-color-disabled: rgb(138, 196, 250);
    --btn-font-size: 13pt;
    --input-width: 250px;
    --input-height: 45px;
    --border-radius: 10px;
    --footer-c-with: 130px;
    --field-shadow: rgb(192 192 192) 0px 0px 3px;
    --hover-shadow: rgb(192 192 192) 0px 0px 7px;
    --rate-con-width: 150px;
    --container-padding: 25px;
}

#app {
    display: flex;
    justify-content: center;
}

.main-container {
    display: flex;
    flex-direction: column;
    width: var(--main-width);
    margin: 0 15px;
}

.route-container {
    transform: translateY(var(--transY));
    width: 100%;
    box-shadow: rgb(134, 134, 134) 0px 0px 10px;
    background-color: #fff;
    border-radius: var(--border-radius);
    padding: var(--container-padding);
}

.route-title {
    font-size: var(--btn-font-size);
    color: var(--btn-color);
}

.route-title:hover {
    opacity: 0.2;
}

.content-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 25px;
}

.flag {
    border-radius: var(--border-radius);
}

/* media query for changing root properties */
@media screen and (max-width: 900px) {
    :root {
        --main-width: 80%;
        --input-width: 100%;
    }
    .main-container {
        margin: 0 10px;
    }
}

@media screen and (max-width: 415px) {
    :root {
        --main-width: 100%;
        --rate-con-width: 300px;
        --container-padding: 10px;
    }
}
