/* *** for converter Form *** */
.exchange-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* ********for options******* */
.convert-options {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 25px;
}

.field {
    width: 100%;
    height: var(--input-height);
    margin-top: 5px;
    padding-left: 10px;
    font-size: 11pt;
    font-weight: bold;
    color: var(--bg-color);
    border: 0.5px solid rgb(160, 160, 160);
    border-radius: var(--border-radius);
    box-shadow: var(--field-shadow);
}

label {
    font-weight: bold;
    margin-right: 10px;
}

.flex-label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.from-to option {
    font-size: 11pt;
    font-weight: bold;
    letter-spacing: 2px;
}

.amount,
.from-to,
.switch-btn {
    width: var(--input-width);
    margin-top: 10px;
    height: auto;
}

.field:hover,
.switch-btn:hover {
    box-shadow: var(--hover-shadow);
}

input .field:hover {
    cursor: text !important;
}

.switch-btn {
    border: 0.5px solid black;
    height: var(--input-height);
    width: var(--input-height);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 0.5px solid rgb(160, 160, 160);
    box-shadow: var(--field-shadow);
    cursor: pointer;
}

.switch-btn > i {
    font-size: 12pt;
    font-weight: bold;
    color: var(--btn-color);
}

/* ******** for result and convert button ******* */
.get-convert-result {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filled-btn {
    background-color: var(--btn-color);
    color: white;
    padding: 0 15px;
    font-size: var(--btn-font-size);
    border-radius: var(--border-radius);
    border: none;
    cursor: pointer;
    margin-left: 15px;
    height: var(--input-height);
}
.filled-btn:disabled {
    background-color: var(--btn-color-disabled);
    cursor: default;
}
.filled-btn:hover {
    background-color: var(--btn-color-hover);
    text-shadow: black 0 0 1px;
}

.filled-btn:disabled:hover {
    background-color: var(--btn-color-disabled);
    cursor: default;
    text-shadow: none;
}

.convert-result-container {
    font-size: small;
    animation: fade-in-bck 1.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes fade-in-bck {
    0% {
        -webkit-transform: translateZ(80px);
        transform: translateZ(80px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}

.main-result {
    font-size: x-large;
    font-weight: 500;
}

.main-result > span {
    font-size: xx-large !important;
    font-weight: 500 !important;
}
.convert-result-container > p > span {
    font-size: small;
    font-weight: bold;
}

.converter-put-amount-msg > p {
    font-size: large;
    color: rgb(105, 105, 105);
}

/****** Converter History *******/
@keyframes scale-up-hor-left {
    0% {
        -webkit-transform: scaleX(0.4);
        transform: scaleX(0.4);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }
    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }
}

.history-container {
    margin-bottom: 30px;
    margin-top: 50px;
}

.history-line-container {
    width: 100%;
    box-shadow: var(--field-shadow);
    border-radius: var(--border-radius);
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;

    animation: scale-up-hor-left 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.exchange-operation {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.history-from-to {
    font-weight: bold;
    width: 35%;
    text-align: center;
}

.history-equal {
    font-size: 15pt;
    text-align: center;
}

.delete-history {
    color: var(--bg-color);
    cursor: pointer;
    padding: 5px;
    border-radius: var(--border-radius);
}
.delete-history:hover {
    color: red;
    box-shadow: var(--hover-shadow);
}

.delete-history:hover::before {
    text-indent: "delete";
}

/****** media query for changing root properties *******/

@media screen and (max-width: 900px) {
    .convert-options {
        flex-direction: column;
        align-items: center;
    }
    .exchange-operation {
        width: 100%;
    }
    .history-line-container {
        flex-direction: column;
    }
}

@media screen and (max-width: 415px) {
}
