/* *** for converter Form *** */
.exchange-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* ********for options******* */
.convert-options {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    margin: 25px 0px;
}

.field {
    width: 100%;
    height: var(--input-height);
    margin-top: 5px;
    padding-left: 10px;
    font-size: 11pt;
    font-weight: bold;
    color: var(--bg-color);
    border: 0.5px solid rgb(160, 160, 160);
    border-radius: var(--border-radius);
    box-shadow: var(--field-shadow);
}

label {
    font-weight: bold;
    margin-right: 10px;
}

.flex-label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.from-to option {
    font-size: 11pt;
    font-weight: bold;
    letter-spacing: 2px;
}

.amount,
.from-to,
.switch-btn {
    width: var(--input-width);
    margin-top: 10px;
    height: auto;
}

.field:hover,
.switch-btn:hover {
    box-shadow: rgb(192, 192, 192) 0px 0px 7px;
}

input .field:hover {
    cursor: text !important;
}

.switch-btn {
    border: 0.5px solid black;
    height: var(--input-height);
    width: var(--input-height);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 0.5px solid rgb(160, 160, 160);
    box-shadow: rgb(192, 192, 192) 0px 0px 3px;
    cursor: pointer;
}

.switch-btn > i {
    font-size: 12pt;
    font-weight: bold;
    color: var(--btn-color);
}

/* ******** for result and convert button ******* */
.get-convert-result {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filled-btn {
    background-color: var(--btn-color);
    color: white;
    padding: 0 15px;
    font-size: var(--btn-font-size);
    border-radius: var(--border-radius);
    border: none;
    cursor: pointer;
    margin-left: 15px;
    height: var(--input-height);
}
.filled-btn:disabled {
    background-color: var(--btn-color-disabled);
    cursor: default;
}
.filled-btn:hover {
    background-color: var(--btn-color-hover);
    text-shadow: black 0 0 1px;
}

.convert-result-container {
    font-size: small;
}

.main-result {
    font-size: x-large;
    font-weight: 500;
}

.main-result > span {
    font-size: xx-large !important;
    font-weight: 500 !important;
}
.convert-result-container > p > span {
    font-size: small;
    font-weight: bold;
}

.converter-put-amount-msg > p {
    font-size: large;
    color: rgb(105, 105, 105);
}

/****** media query for changing root properties *******/

@media screen and (max-width: 900px) {
    .convert-options {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 360px) {
}
