footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0px;
    background-color: var(--bg-color);
    color: white;
}

footer>div {
    width: var(--main-width);
}

footer ul {
    list-style: none;
}

footer ul>li {
    margin-right: 25px;
    font-size: 13px;
}

footer h4 {
    margin-bottom: 10px;
}

.flex-footer-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 30px;
    width: 100%;
}


.flex-footer-column{
    max-width: var(--footer-c-with);
    margin-bottom: 25px;
}

.footer-app-info{
    display: flex;
    flex-direction: column;
}

.footer-app-info-items {
    display: flex;
    flex-wrap: wrap;
}

