footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0px;
    background-color: var(--bg-color);
    color: white;
}

.footer-logos > a > i {
    margin-right: 10px;
    font-size: 18pt;
}

footer > div {
    width: var(--main-width);
    margin: 0 10px;
}

footer ul {
    list-style: none;
}

footer ul > li {
    margin-right: 25px;
    line-height: 25px;
    font-size: 13px;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: 300;
}

footer h4 {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 14pt;
}

.flex-footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 30px;
    width: 100%;
}

.flex-footer-column {
    width: var(--footer-c-with);
    margin: 0 15px 25px 0;
}

.footer-app-info {
    display: flex;
    flex-direction: column;
}

.footer-app-info-items {
    display: flex;
    flex-wrap: wrap;
}

.copyrights {
    font-weight: 100;
    text-decoration: underline;
}
@media screen and (max-width: 415px) {
    footer {
        padding: 15px 10px;
    }
}
