.all-rates {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.one-currency-rate-container {
    width: var(--rate-con-width);
    margin: 5px;
    box-shadow: var(--field-shadow);
    border-radius: var(--border-radius);
    padding: 3px;

    animation: scale-up-hor-left 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.one-currency-rate > p {
    font-weight: bold;
    margin-top: 5px;
    color: var(--bg-color);
}

.rates-form {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 25px;
}
